.demo figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    -webkit-position:relative;
    -webkit-cursor:pointer;
}
.demo figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}
.demo figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left;
}
.demo figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding-top: 20px;/*padding:29px 44px;*/
    background-color:gray;
    text-align:center;
    font-style: italic;
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -webkit-backface-visibility:hidden;    /*added*/
    -moz-transition:all .5s;
    transition:all .5s
}
.demo figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}